---
import styles from "./investInfo.module.scss";
---

<div class={styles.invest}>
	<div class={`container ${styles.container}`}>
		<p class={styles.text}>
			Guinea offers numerous investment opportunities, particularly in the
			following sectors:
		</p>

		<ul>
			<li>
				<strong>Mining Resources:</strong>
				Guinea has one of the world's largest reserves of bauxite, essential
				for aluminum production. The country is also rich in iron, gold,
				diamonds, and other strategic minerals.
				<a
					href="/files/Invest in mining Powerpoint.pdf"
					target="_blank"
				>
					Click for Brochure
				</a>
			</li>
			<li>
				<strong>Agriculture:</strong>
				A vital sector for the rural population, with fertile land suitable
				for cultivating rice, cotton, coffee, cocoa, bananas, potatoes, tropical
				fruits, as well as livestock farming.
				<a
					href="/files/Invest in agriculture Powerrpoint.pdf"
					target="_blank"
				>
					Click for Brochure
				</a>

				<img src="/invest-1.webp" alt="investment-opportunities" />
			</li>
			<li>
				<strong>Energy:</strong>
				With its vast hydro resources, Guinea is poised to become a key player
				in energy export in West Africa. There are opportunities for renewable
				energy projects.
				<a
					href="/files/Invest in energy Powerpoint.pdf"
					target="_blank"
				>
					Click for Brochure
				</a>
			</li>
			<li>
				<strong>Tourism:</strong>
				The country has a rich natural heritage with varied landscapes, from
				Atlantic beaches to mountains and tropical forests.
				<a
					href="/files/Invest in tourism Powerpoint.pdf"
					target="_blank"
				>
					Click for Brochure
				</a>

				<img src="/invest-3.webp" alt="investment-opportunities" />
			</li>
			<li>
				<strong>Infrastructure:</strong>
				Development of transport, telecommunications, and energy infrastructure.
				<a
					href="/files/Invest in infrastructures Powerpoint.pdf"
					target="_blank"
				>
					Click for Brochure
				</a>
			</li>
			<li>
				<strong>ICT:</strong>
				The telecommunications sector in Guinea is experiencing significant
				growth, supported by significant investments.
				<a href="/files/Invest in ICT Powerpoint.pdf" target="_blank">
					Click for Brochure
				</a>

				<img src="/invest-2.webp" alt="investment-opportunities" />
			</li>
			<li>
				<strong>Livestock:</strong>
				Ensuring the health and productivity of our livestock is our top
				priority, as they are the cornerstone of sustainable farming and
				a thriving agricultural community.
				<a
					href="/files/Invest in livestock and fisheries Powerpoint.pdf"
					target="_blank"
				>
					Click for Brochure
				</a>
			</li>
		</ul>

		<div class={styles.images}>
			<img src="/invest-1.webp" alt="investment-opportunities" />

			<img src="/invest-2.webp" alt="investment-opportunities" />

			<img src="/invest-3.webp" alt="investment-opportunities" />
		</div>
	</div>
</div>
