@use "/src/styles/abstracts" as ab;

.invest {
	.container {
		display: grid;
		row-gap: 1em;
		column-gap: 1.5em;

		grid-template-areas: "text" "list";

		@include ab.invest {
			grid-template-areas: "text images" "list images";
		}
	}

	.text {
		grid-area: text;
		font-size: clamp(1rem, 1.5vi, 1.25rem);
	}

	ul {
		--_gap: 1.5rem;

		grid-area: list;
		padding: 0;
		list-style-type: "- ";
		list-style-position: inside;

		display: grid;
		gap: var(--_gap);

		li {
			font-size: clamp(1rem, 1.5vi, 1.25rem);

			&:has(img) {
				img {
					margin-block-start: var(--_gap);
				}
			}

			img {
				@include ab.invest {
					display: none;
				}
			}

			a {
				--_c: var(--accent-primary);

				color: var(--_c);

				&:hover,
				&:focus-visible {
					--_c: var(--accent-primary-hover);
				}

				&:active {
					--_c: var(--accent-primary-active);
				}
			}
		}
	}

	.images {
		grid-area: images;
		display: none;

		@include ab.invest {
			display: grid;
			align-content: space-between;
		}

		img {
			max-width: 20rem;
			height: auto;
			object-fit: cover;
		}
	}
}
