---
import { Fragment } from "astro/jsx-runtime";
import { ViewTransitions } from "astro:transitions";
import "../styles/main.scss";
import Footer from "@components/Footer/Footer.astro";
import Nav from "@components/Nav/Nav.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Invest In Guinea" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>{title}</title>

		<ViewTransitions />
	</head>
	<body>
		<div>
			<Nav />
			<main>
				<slot />
			</main>
			<Footer />
		</div>

		<script>
			new ResizeObserver(() => {
				let vw = document.documentElement.clientWidth / 100;
				document.documentElement.style.setProperty("--vw", `${vw}px`);
			}).observe(document.documentElement);
		</script>
		<style>
			div {
				display: flex;
				flex-direction: column;
				min-height: 100vb;
			}

			main {
				display: grid;
				gap: clamp(3em, 4vi, 4em);

				margin-block-end: clamp(3em, 5vi, 5em);
			}
		</style>
	</body>
</html>
